<tr>
    <td><input type="checkbox" value="{{shopId}}" name="shopId" class="checkShop"/></td>
    <td>{{shopId}}</td>
    <td>{{shopName}}</td>
    <td>{{address}}</td>
    <td>{{telephoneNumber}}</td>
</tr>
