<tr>
    <td class="shop-row"><input type="checkbox" name="shopId" value="{{shopId}}"/></td>
    <td class="shop-row" id="shop-item-{{shopId}}">{{idx}}</td>
    <td class="shop-row">{{shopName}}[{{shopId}}]</td>
</tr>