<tr>
    <td>{{idx}}</td>
    <td>{{adShopName}}</td>
    <td>{{adMenuCategoryName}}</td>
    <td>{{shopAdKind}}</td>
    <td>{{address}}</td>
    <td>{{adPrice}}</td>
    <td>{{adPrice}}</td>
    <td><button type="button" class="btn btn-default btn-sm edit-req-ad">수정</button></td>
    <td><button type="button" class="btn btn-danger btn-sm delete-req-ad">삭제</button></td>
</tr>